{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if not field|is_checkbox %}{% if 'form-horizontal' in form_class %} inline{% endif %} field{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="{% if field.field.required %}required{% endif %}{% if label_class %}{{ label_class }}{% endif %}">
                {{ field.label|safe }}
            </label>
        {% endif %}

        {% if field|is_select %}
            {% include 'halfmoon/layout/select.html' %}
            {% include 'halfmoon/layout/help_text_and_errors.html' %}
        {% endif %}

        {% if field|is_checkboxselectmultiple %}
            {% include 'halfmoon/layout/checkboxselectmultiple.html' %}
        {% endif %}

        {% if field|is_radioselect %}
            {% include 'halfmoon/layout/radioselect.html' %}
            {% include 'halfmoon/layout/help_text_and_errors.html' %}
        {% endif %}

        {% if not field|is_select and not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                <div class="ui checkbox">
                    {% crispy_field field %}
                <label for="{{ field.id_for_label }}" {% if label_class %}class="{{ label_class }}"{% endif %}>
                    {{ field.label|safe }}
                </label>
                </div>
                {% include 'halfmoon/layout/help_text_and_errors.html' %}
            {% elif field|is_file %}
                {% include 'halfmoon/layout/field_file.html' %}
            {% else %}
                {% crispy_field field "class" field_class %}
                {% include 'halfmoon/layout/help_text_and_errors.html' %}
            {% endif %}
        {% endif %}

    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        {% if label_class %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endif %}
