{% load crispy_forms_filters %}
{% load l10n %}

{% for choice in field.field.choices %}
    <div class="custom-radio {% if inline_class %}d-inline-block mr-10 {% endif %}{% if forloop.counter > 1 %}mt-10{% endif %}">
        <input type="radio" {% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="{{ field.id_for_label }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
        <label for="{{ field.id_for_label }}_{{ forloop.counter }}">
            {{ choice.1|unlocalize }}
        </label>
    </div>

    {% include 'halfmoon/layout/help_text.html' %}
{% endfor %}
